<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  
    <div class="header">
     <span id="banklogo"><img src="/assets/banklogofir.png" alt="bank logo" width="180px" height="150px"></span> 
    <span><h1 style="color: #15136b;align-items: center;">Welcome to our Bank</h1></span> 
  </div>
  <div class="topnav">
      <ul>
          <li><a [routerLink]="['/homeLink']">Home</a></li>
          <div class="dropdown">
            <a href="">Register</a>
            <div class="dropdown-content">
          <li><a [routerLink]="['/registerLink']">Register for Account</a></li>
          <li><a [routerLink]="['/internetBankingLink']">Internet Banking</a></li>
          </div>
          </div>
          <div class="dropdown">
            <a href="">Login</a>
            <div class="dropdown-content">
              <li><a [routerLink]="['/loginLink']">Customer Login</a></li>          
              <li><a [routerLink]="['/AdminLoginLink']">Admin Login</a></li>
          </div>
          </div>
          
          <li><a [routerLink]="['/accountStatement']">Ministatement</a></li>
          <li><a [routerLink]="['/sessionTimeout']">SessionTimeOut</a></li>
      </ul>
  </div>
  <div class="row">
    <div class="main">
       
    <marquee style=" background-color: #ffe9b5; overflow: hidden; text-overflow: clip; z-index: 4;">Hope you all are good! In this covid-19 pandemic you can easily avail all the banking facilities from home.</marquee>
 
  </div>
  </div>
        
   <div>
      <router-outlet></router-outlet>
    </div>
    <div class="footer">
      <p style="color: white;"> © 2020 e Banking Application</p>
    </div> 

</body>
</html>