<div class="row">
    <div class="main">
        <div class="card" style="height: 540px;">
            <h2 style="text-align:right;margin-right:40px;">PERSONAL BANKING</h2>
            <form #loginForm='ngForm' style="float:right;">

                <div class="container" style="text-align:center; border:2px solid black;
                border-radius: 10px;">
                    <label for="uname"><b> <i class="material-icons" style="font-size: 50px; color:#1474a8;">account_box</i></b></label><br>
                    <input type="text" placeholder="Enter Username" id="uname" required ngModel><br>
                    
                    <input type="password" placeholder="Enter Password" id="psw" required ngModel><br>

                    <button type="submit">Login</button><br>
                    <label>
                        <input type="checkbox" checked="checked" id="remember" required ngModel> Remember me
                    </label>
                

                    <div class="container" style="background-color:#f1f1f1;height:60px;width:80%">   
                    <button type="reset" class="cancelbtn">Reset</button>
                    <span class="reg">New User?<a [routerLink]="['/registerLink']">Register</a></span>
                    <span class="psw">Forgot <a [routerLink]="['/forgetpasswordLink']">password?</a></span>
                    
                </div>
            </div>
            </form>

        </div>
    </div>
</div>