
.second{
  height: auto;
  overflow: hidden;
}

h3{
  padding-left: 20px;
}
.main{
  justify-items: center;
  padding-right: 50px;
}

 th{
  padding-left: 200px;
  float: left;
  font-size: large;
  text-align: center;
  padding-right: 50px;
}

td{
  font-size: 100px;
}
