
<app-header-nav></app-header-nav>
<h2>Customer Complaint Form</h2>
<button type="button" ><a [routerLink]="['/complaintStatus']">Click Here to Check Complaint Status</a></button>

<marquee scrollamount="5">
Fields marked with (*) are compulsary, Please Provide correct details. 
You will receive a response shortly by SMS or E-mail. 
&nbsp;To know the status of your request call on our  number 9473303032 with ticket number.
</marquee>

<form #regForm='ngForm' (ngSubmit)="addComplaint()">
<table  align ="center" cellpadding = "7" >

<!--------------------- Customer Type ------------------------------------------>
<tr>
<td>Account Type* &nbsp; &nbsp; &nbsp; &nbsp; <span style="color:red; font-size: 16px;">{{message1}}</span></td>
<td>
    <input type="text" class = "inputform" name="complaintType" maxlength="50" [(ngModel)]=complaint.customerType   required/>
</td>
</tr>
<!------------------------ Account Number --------------------------------------->
<tr>
<td>Account Number*</td>
<td><input type="number" class = "inputform" name="AccountNumber" maxlength="50" [(ngModel)]=complaint.accountNumber required/>
</td>
</tr>
<!-------------------------- Name Of Complaint ------------------------------------->
<tr>
<td>Name of Complaintant*</td>
<td><input type="text" name="nameofcomplaint" class = "inputform" maxlength="50" [(ngModel)]=complaint.nameComplaint required/></td>
</tr>
<!-------------------------- Branch Code ------------------------------------->
<tr>
<td>Branch Code(If Other than Home Branch)</td>
<td>
<input type="text" name="BranchCode" class = "inputform" maxlength="10" [(ngModel)]=complaint.branchCode required/>
</td>
</tr>
<!----------------------Mobile Number ------------------------------------->
<tr>
<td>Mobile Number*</td>
<td>
<input type="number" name="MobileNumber" class = "inputform" maxlength="10" [(ngModel)]=complaint.mobileNumber required/>
</tr>

<!----------------------Email ------------------------------------->
<tr>
    <td>Email*</td>
    <td>
    <input type="email" name="Email" class = "inputform" [(ngModel)]=complaint.email required/>
    </tr>
<!--------------------------Category Of Complaints----------------------------------->
<tr>
<td>Category Of Complaints*</td>
<td>
    <input type="text" class = "inputform" name="categoryOfComplaint" maxlength="50" [(ngModel)]=complaint.categoryOfComplaint required/>
</td>
</tr>
<!------------------------- Details ---------------------------------->
<tr>
<td>Please Give brief details of your complaint(Max 500 Chars)*<br /><br /><br /></td>
<td><textarea class = "inputform" name="Details" rows="5" cols="20" [(ngModel)]=complaint.complaintDesc required></textarea></td>
</tr>

<tr>
    <td>Captcha* <img [src]=imagePath alt="  " > &nbsp; &nbsp; &nbsp; &nbsp; <span style="color:red; font-size: 20px;">{{message}}</span></td>
    <td><input type="text" name="Captcha" class = "inputform" [(ngModel)]=complaint.captcha required/></td>
    
</tr>

<!------------------------- Captcha ---------------------------------->

<!----------------------- Submit and Reset ------------------------------->
</table>
<br>
<span>
<div>
    <span>
<input  class="swd-button" type="submit" value="Submit" [disabled]='!regForm.valid' ></span>
<span>
<input class="swd-button" type="reset" value="Reset"></span>
</div>
</span>
</form>
