<p>admin-verification works!</p>
<body>
    <div class="admin">
       
        <div>
            <h1>Admin Verification Portal</h1>
        
        </div>
           
        
        <div>
            <table>
                <thead>
                    <th><span>Name</span></th>
                    <th><span>Reference No.</span></th>
                    <th><span style="text-align: right;">Actions</span></th>  
                </thead>    
                <tbody *ngFor="let item of row; let i = index">
                <tr>
                    <td>{{item.name}} </td>
                    <td>{{item.serialReferenceNumber}}</td>            
                    <td> <button class="accept"><span>Accept</span></button> </td>
                    <td> <button class="rej" (click)="deleteRow(i)"><i class="fa fa-trash"><span>Reject</span></i></button></td>
                   
                 </tr>   
                </tbody>
            </table>
        </div>
        
        </div>
</body>

